<h1>Books</h1>

<!--一覧-->
<table>
	<thead>
		<tr>
			<th>Title</th>
			<th>Body</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% Book.all .each do |book| %>
		<tr>
			<td><%= book.title %></td>
			<td><%= book.body %></td>
			<td><%= link_to "show" , book_path(book.id) %></td>
			<td><%= link_to "edit" , edit_book_path(book.id) %></td>
			<td><%= link_to "destroy", delete_book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<!--新規-->
<h3>New book</h3>


<!--エラー表示-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for(@book) do |f| %>

	<%= f.label :Title %><br/>
	<%= f.text_field :title %><br/>

	<%= f.label :Body %><br/>
	<%= f.text_area :body %>

	<br><%= f.submit 'Create Book' %></br>

<% end %>
